{% extends 'layout/2col-left.html.twig' %}

{% block content %}

    <form action="/addcourse" method="POST">
        <div class="row">

            <div class="col-6 mb-6">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Course</label>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="course">
                    <option selected></option>
                    <option value="BIO">Biology</option>
                    <option value="CHM">Chemistry</option>
                    <option value="PHY">Physics</option>
                    <option value="MTH">Math</option>
                    <option value="ENG">English</option>
                    <option value="DEU">German</option>
                    <option value="ART">Art</option>
                </select>
            </div>

            <div class="col-6 mb-3">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Session</label>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="session">
                    <option selected></option>
                    <option value="F">F</option>
                    <option value="S">S</option>
                    <option value="Y">Y</option>

                </select>

            </div>

        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Section Id</label>
            <input class="form-control" id="exampleFormControlInput1" name="section-id">
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="status" id="gridRadios1" value="Online" checked>
            <label class="form-check-label" for="gridRadios1">
                Online
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="status" id="gridRadios2" value="Offline">
            <label class="form-check-label" for="gridRadios2">
                Offline
            </label>
        </div>

        <button type="submit" class="btn btn-primary my-1">Submit</button>

    </form>



{% endblock %}