{% extends 'layout/2col-left.html.twig' %}


{% block content %}

    <div>

        HI STUDENT
        <a href="/addcourse">
            <button type="button" class="btn btn-danger">+ ADD COURSE</button>                $courseId = $this->courseManager->createCourse($newCourse['course'], $newCourse['course-code'], $newCourse['course-duration']);

        </a>
    </div>

{% endblock %}
