
body {
    padding: 0;
    margin: 0;
}
.navbar-top {
    background-color: #032F60;
    height: 70px;
    padding: 3rem;
}

main {
    height: 100%;
    width: 100%;
    background-color: #D0D1CC;

}

.main {
    padding: 3rem;

}

.container-fluid {
    margin: 0;
    padding: 0;
}

.content {
    padding: 3rem;
    margin: 0;
    background-color: white;
    height: 100%;
}

.sb {
    top: 70px;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: #032F60;
    padding: 2rem;
    position: fixed;

}

.col-left {
    height: 100%;
    width: 100%;
    top: 70px;
    position: relative;
    margin: 0;
    padding: 0;
  }

.nav-link {
    color: white;
}

.schedule-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.day-column {
    width: 18.7%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2px;
}

.slots {
    border: 1px solid black;
    text-align: center;

}


.section-table-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}